// This should be moved tp /src/utilities.scss
.form-control {
  &.focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $input-focus-box-shadow;
    }

    &.is-valid {
      box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-valid-color, 0.25);
    }

    &.is-invalid {
      box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, 0.25);
    }
  }
}

// Handle validation icon (i.e. hide it)
.b-spinbutton.form-control {
  text-align: center;
  padding: 0;
  background-image: none;

  output {
    outline: none;
  }

  .btn {
    line-height: 1;
  }

  &,
  output {
    &.disabled
    &.readonly {
      background-color: $input-disabled-bg;
    }
  }
}
