// Base icon styling
.b-icon {
  &.bi {
    display: inline-block;
    overflow: visible;
    // The following is required to compensate for alignment
    // issues with the Bootstrap Icons alpha implementation
    // And might be able to remove in future version of bootstrap-icons
    // Perhaps this values should be SASS variables?
    vertical-align: -0.15em;
  }

  &.b-icon-spin {
    animation: 2s infinite linear b-icon-spin;
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  &.b-icon-pulse {
    animation: 1s infinite steps(8) b-icon-spin;
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  &.b-icon-cylon {
    animation: 0.75s infinite ease-in-out alternate b-icon-cylon;
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

// Animation for spinning icons
@keyframes b-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes b-icon-cylon {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

// Make icons slightly larger in buttons, nav-links, dropdowns, and input-group-text
.btn,
.nav-link,
.dropdown-toggle,
.dropdown-item,
.input-group-text {
  .b-icon {
    &.bi {
      font-size: 125%;
      vertical-align: text-bottom;
    }
  }
}
