// Base icon styling
.bi {
  display: inline-block;
  overflow: hidden;
  // Thee following is required to compenstate for alignment
  // issues with the Bootstrap Icons alpha implememntation
  // And maight be able to remove in future version of bootstrap-icons
  // Perhaps these values should be SASS variables?
  vertical-align: -0.125em;
  margin-bottom: calc(-0.125em / 2);
}

// Make icons slightly larger in input group prepend/append
.input-group .input-group-text {
  .bi {
    // Perhaps this should be an SCSS variable
    transform: scale(1.25);
  }
}

// Make icons slightly larger in buttons, nav-links and dropdowns
.btn,
.nav-link,
.dropdown-toggle,
.dropdown-item {
  .bi {
    // Perhaps this should be an SCSS variable
    transform: scale(1.25);
    margin-bottom: 0;
  }
}
