/*! BootstrapVue Docs Additional Styles */

.nuxt-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #59cc93;
  transition: width 0.2s, opacity 0.4s;
  opacity: 1;
  z-index: 999999;
}

.hljs {
  overflow-x: auto;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.CodeMirror {
  background-color: #f9f9f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);

  .card & {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
}

// See: https://github.com/bryanbraun/anchorjs/blob/e9c248ac82cfa905ed00e804a2a1c64296b342d1/anchor.js#L306
.anchorjs-link {
  padding-left: 0.375em;
  opacity: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:after {
    content: "#";
  }
}

*:hover > .anchorjs-link,
.anchorjs-link:focus {
  opacity: 1;
}

// Sticky footer
// See: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
#__layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }
}

.bd-toc {
  .section-nav {
    .toc-entry {
      > .nav-link {
        + .nav {
          display: none;
        }

        &.active {
          font-weight: 600;

          + .nav {
            display: flex !important;
          }
        }
      }
    }
  }
}

.bd-content {
  > h1 {
    margin-top: 1rem;
  }

  > h4,
  > h5 {
    margin-top: 1rem;
  }

  &.bd-component-reference {
    h2 {
      margin-top: 3rem;
    }
    h3 {
      margin-top: 1.5rem;
    }
    h4,
    h5 {
      margin-top: 1rem;
    }
  }
}

.bd-footer {
  margin-top: 4rem;
  padding: 4rem 0;
  text-align: center;
}

pre.editable {
  &::after {
    content: "(double click to edit)";
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    text-align: right;
    font-size: 0.75em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
  }

  &:hover {
    &::after {
      font-size: 0.9em;
      color: #444;
      cursor: pointer;
    }
  }

  &.live {
    &::after {
      content: "Live";
    }
  }

  &.error {
    border: 1px solid #dc3545;
    box-shadow: 0 1px 1px rgba(220, 53, 69, 0.5);

    &::after {
      content: "JavaScript compile error!";
      color: #dc3545;
    }
  }
}

.bv-example-row {
  .row {
    + .row {
      margin-top: 1rem;
    }

    > .col:not(.header),
    > [class^="col-"] {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      background-color: rgba(86, 61, 124, 0.15);
      border: 1px solid rgba(86, 61, 124, 0.2);
    }
  }
}

.bv-example-row-flex-cols {
  .row {
    min-height: 10rem;
    background-color: rgba(255, 0, 0, 0.1);
  }
}

// Additional styling for (responsive) markdown tables
.bv-docs-table {
  font-size: 90%;

  th,
  td {
    padding: 0.5rem;
  }

  thead > tr > th {
    min-width: 80px;
  }

  code {
    white-space: nowrap !important;
  }
}

// CSS for table transition example
table#table-transition-example {
  .flip-list-move {
    transition: transform 1s;
  }
}

// Docsearch overrides
// See: https://github.com/twbs/bootstrap/blob/master/site/static/docs/4.3/assets/scss/_algolia.scss
.algolia-autocomplete {
  .ds-dropdown-menu {
    background: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175) !important;

    .ds-suggestions {
      @media (min-width: 768px) {
        max-height: calc(100vh - 12rem);
        overflow-y: auto;
      }

      .algolia-docsearch-suggestion--subcategory-inline,
      .algolia-docsearch-suggestion--title {
        display: inline-block !important;
      }
    }
  }
}
