/*! BootstrapVue Docs Additional Styles */
@import "./fonts.scss";

* {
  -webkit-font-smoothing: antialiased;
}

.nuxt-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #59cc93;
  transition: width 0.2s, opacity 0.4s;
  opacity: 1;
  z-index: 999999;
}

.bd-toc-link,
.bd-navbar .navbar-nav .nav-link.active {
  font-weight: normal;
}

.bd-toc-link,
.bd-sidenav {
  .badge {
    font-size: 70%;
    position: relative;
    bottom: 0.1rem;
  }
}

.hljs {
  overflow-x: auto;
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.CodeMirror {
  background-color: #f9f9f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

code {
  color: #795da3;
}

blockquote {
  font-size: 1.1rem;
  font-weight: 300;
}

/* https://github.com/bryanbraun/anchorjs/blob/e9c248ac82cfa905ed00e804a2a1c64296b342d1/anchor.js#L306 */
.anchorjs-link {
  padding-left: 0.375em;
  opacity: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:after {
    content: "#";
  }
}

*:hover > .anchorjs-link,
.anchorjs-link:focus {
  opacity: 1;
}

.bd-content {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5 {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}

pre.editable:after {
  content: "(double click to edit)";
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}

pre.editable:hover:after {
  font-size: 0.9em;
  color: #444;
  cursor: pointer;
}

pre.editable.live:after {
  content: "Live";
}

pre.editable.error {
  border: 1px solid #dc3545;
  box-shadow: 0 1px 1px rgba(220, 53, 69, 0.5);
}

pre.editable.error:after {
  content: "JavaScript compile error!";
  color: #dc3545;
}

.bd-footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}

.bv-example-row .row + .row {
  margin-top: 1rem;
}

.bv-example-row .row > .col:not(.header),
.bv-example-row .row > [class^="col-"] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.bv-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, 0.1);
}

/* CSS for table transition example */
table#table-transition-example {
  .flip-list-move {
    transition: transform 1s;
  }
}
