// b-toast and b-toaster custom SCSS
//

// toast wrapper element class (needed for list tranitions in toasters)
.b-toast {
  display: block;
  position: relative;
  max-width: $toast-max-width;
  backface-visibility: hidden;
  z-index: 1;

  &:not(:last-child) {
    margin-bottom: $toast-padding-x;
  }
}

// Configured "toasters".
// The following are columnar toasters (vertically stacked)
//   b-toaster-top-right
//   b-toaster-top-left
//   b-toaster-bottom-right
//   b-toaster-bottom-left
.b-toaster {
  position: fixed;
  max-width: $toast-max-width;
  overflow: visible;
  z-index: $b-toaster-zindex;

  &:empty {
    padding: 0 0;
  }

  &.b-toaster-top-right,
  &.b-toaster-top-left {
    top: $b-toaster-offset-top;
  }

  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    bottom: $b-toaster-offset-bottom;
  }

  &.b-toaster-top-right,
  &.b-toaster-bottom-right {
    right: $b-toaster-offset-right;
    min-width: calc(#{$toast-max-width} - #{$b-toaster-offset-right * 2});
  }

  &.b-toaster-top-left,
  &.b-toaster-bottom-left {
    left: $b-toaster-offset-left;
    min-width: calc(#{$toast-max-width} - #{$b-toaster-offset-left * 2});
  }

  // Transitions
  &.b-toaster-top-right,
  &.b-toaster-top-left,
  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    .b-toast {
      &.b-toaster-enter-active,
      &.b-toaster-leave-active,
      &.b-toaster-move {
        //transition: transform 0.15s;
        transition: $transition-base;
      }

      &.b-toaster-leave-active {
        position: absolute;
        z-index: 0;
      }
    }

  &.b-toaster-top-right,
  &.b-toaster-bottom-right {
    .b-toast {
      &.b-toaster-enter,
      &.b-toaster-leave-to {
        transform: translateX(100%)
      }
    }
  }

  &.b-toaster-top-left,
  &.b-toaster-bottom-left {
    .b-toast {
      &.b-toaster-enter,
      &.b-toaster-leave-to {
        transform: translateX(-100%)
      }
    }
  }
}
