// b-toast and b-toaster custom SCSS
//

// toast wrapper element class (needed for list tranitions in toasters)
.b-toast {
  display: block;
  max-width: $toast-max-width;

  &:not(:last-child) {
    margin-bottom: $toast-padding-x;
  }

  &.b-toast-move {
    transition: transform 0.15s;
  }
}

// Configured "toasters".
// The following are columnar toasters (vertically stacked)
//   b-toaster-top-right
//   b-toaster-top-left
//   b-toaster-bottom-right
//   b-toaster-bottom-left
.b-toaster {
  position: fixed;
  min-width: calc(#{$toast-max-width} - #{$b-toaster-offset-x * 2});
  max-width: calc(100vw - #{$b-toaster-offset-x * 2});
  overflow: visible;
  z-index: $b-toaster-zindex;

  &.b-toaster-top-right,
  &.b-toaster-top-left {
    top: $b-toaster-offset-y;
  }

  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    bottom: $b-toaster-offset-y;
  }

  &.b-toaster-top-right,
  &.b-toaster-bottom-right {
    right: $b-toaster-offset-x;
    margin-left: $b-toaster-offset-x;
  }

  &.b-toaster-top-left,
  &.b-toaster-bottom-left {
    left: $b-toaster-offset-x;
    margin-right: $b-toaster-offset-x;
  }
}
