// --- <b-toaster> base custom SCSS ---

// NOTE:
// This SCSS is prelimiary, and may change in the future.

.b-toaster {
  z-index: $b-toaster-zindex;

  .b-toaster-slot {
    position: relative;
    display: block;
    
    &:empty {
      display: none !important;
    }
  }
}
