// --- <b-toaster> custom SCSS ---

// NOTE:
// This SCSS is prelimiary, and may change in the future.

// Base toaster styling
.b-toaster {
  z-index: $b-toaster-zindex;

  .b-toaster-slot {
    position: relative;
    display: block;
    
    &:empty {
      display: none !important;
    }
  }
}

// Built-in toaster styling
//  - b-toaster-top-right
//  - b-toaster-top-left
//  - b-toaster-bottom-right
//  - b-toaster-bottom-left
.b-toaster {
  &.b-toaster-top-right,
  &.b-toaster-top-left,
  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    position: fixed;
    left: $b-toaster-offset-left;
    right: $b-toaster-offset-right;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: visible;

    .b-toaster-slot {
      position: absolute;
      min-width: calc(#{min(320px, $toast-max-width)} - #{$b-toaster-offset-left + $b-toaster-offset-right});
      max-width: $toast-max-width;
      padding: 0;
      margin: 0;
    }
  }

  &.b-toaster-top-right,
  &.b-toaster-top-left {
    top: 0;

    .b-toaster-slot {
      top: $b-toaster-offset-top;
    }
  }

  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    bottom: 0;

    .b-toaster-slot {
      bottom: $b-toaster-offset-bottom;
    }
  }
  
  &.b-toaster-top-right,
  &.b-toaster-bottom-right {
    right: 0;

    .b-toaster-slot {
      right: 0;
    }
  }

  &.b-toaster-top-left,
  &.b-toaster-bottom-left {
    left: 0;

    .b-toaster-slot {
      left: 0;
    }
  }
}
