// --- <b-toast> and <b-toaster> custom SCSS ---

// Toast wrapper element class (needed for list transition in toasters)
.b-toast {
  display: block;
  position: relative;
  max-width: $toast-max-width;
  backface-visibility: hidden;
  z-index: 1;

  &:not(:last-child) {
    margin-bottom: $toast-padding-x;
  }
}

@mixin b-toast-variant($background, $border, $color) {
  .toast-header {
    color: $color;
    background-color: rgba($background, 0.85);
    border-bottom-color: rgba($border, 0.85);
  }
}

// Toast variants
@each $color, $value in $theme-colors {
  .b-toast-#{$color} {
    @include b-toast-variant(
      theme-color-level($color, $b-toast-bg-level),
      theme-color-level($color, $b-toast-border-level),
      theme-color-level($color, $b-toast-color-level)
    );
  }
}

// Configured "toasters".
// The following are columnar toasters (vertically stacked)
//   b-toaster-top-right
//   b-toaster-top-left
//   b-toaster-bottom-right
//   b-toaster-bottom-left
.b-toaster {
  position: fixed;
  max-width: $toast-max-width;
  overflow: visible;
  z-index: $b-toaster-zindex;

  &:empty {
    padding: 0 0;
  }

  &.b-toaster-top-right,
  &.b-toaster-top-left {
    top: $b-toaster-offset-top;
  }

  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    bottom: $b-toaster-offset-bottom;
  }

  &.b-toaster-top-right,
  &.b-toaster-bottom-right {
    right: $b-toaster-offset-right;
    min-width: calc(#{$toast-max-width} - #{$b-toaster-offset-right * 2});
  }

  &.b-toaster-top-left,
  &.b-toaster-bottom-left {
    left: $b-toaster-offset-left;
    min-width: calc(#{$toast-max-width} - #{$b-toaster-offset-left * 2});
  }
}

// Transitions
.b-toaster {
  &.b-toaster-top-right,
  &.b-toaster-top-left,
  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    .b-toast {
      backface-visibility: hidden;
      z-index: 1;

      // &.b-toaster-leave-active,
      &.b-toaster-enter-to,
      &.b-toaster-enter-active {
        .toast.fade {
          transition-delay: 0.15s;
        }
      }

      &.b-toaster-move {
        transition: transform 0.15s;
      }

      &.b-toaster-enter-active {
        z-index: 0;
      }

      &.b-toaster-leave-active {
        position: absolute;
        transition-delay: 0.15s;
        z-index: 0;

        .toast.fade {
          transition-delay: 0s;
        }
      }

      &.b-toaster-leave-to {
        transform: scaleY(0);
      }
    }
  }
}
