// --- <b-toaster> custom SCSS ---

// Configured "toasters".
// The following are columnar toasters (vertically stacked)
//   b-toaster-top-right
//   b-toaster-top-left
//   b-toaster-bottom-right
//   b-toaster-bottom-left
//
// Note: This may change to using a flex layout
//

.b-toaster {
  position: fixed;
  min-width: $b-toaster-min-width;
  max-width: $b-toaster-max-width;
  overflow: visible;
  height: 0;
  z-index: $b-toaster-zindex;

  // Ensure that an empty toaster isn't occupying any space
  // and obscuring access to underlying elements
  &:empty {
    padding: 0 0;
    margin: 0 0;
    display: none;
  }

  &.b-toaster-top-right,
  &.b-toaster-top-left {
    top: $b-toaster-offset-top;
  }

  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    bottom: $b-toaster-offset-bottom;
  }

  &.b-toaster-top-right,
  &.b-toaster-bottom-right {
    right: $b-toaster-offset-right;
  }

  &.b-toaster-top-left,
  &.b-toaster-bottom-left {
    left: $b-toaster-offset-left;
  }
}
