// Configured "toasters".
// The following are columnar toasters (vertically stacked)
//   b-toaster-top-right
//   b-toaster-top-left
//   b-toaster-bottom-right
//   b-toaster-bottom-left
//
// Note: This may change to using a flex layout
//

.b-toaster {
  position: fixed;
  max-width: $toast-max-width;
  overflow: visible;
  z-index: $b-toaster-zindex;

  // Ensure that an empty toaster isn't occupying any space
  // and obscuring access to underlying elements
  &:empty {
    padding: 0 0;
  }

  &.b-toaster-top-right,
  &.b-toaster-top-left {
    top: $b-toaster-offset-top;
  }

  &.b-toaster-bottom-right,
  &.b-toaster-bottom-left {
    bottom: $b-toaster-offset-bottom;
  }

  &.b-toaster-top-right,
  &.b-toaster-bottom-right {
    right: $b-toaster-offset-right;
    min-width: calc(#{$toast-max-width} - #{$b-toaster-offset-right * 2});
  }

  &.b-toaster-top-left,
  &.b-toaster-bottom-left {
    left: $b-toaster-offset-left;
    min-width: calc(#{$toast-max-width} - #{$b-toaster-offset-left * 2});
  }
}
