version: 2

defaults: &defaults
  working_directory: ~/project/bootstrap-vue
  docker:
    - image: banian/node

jobs:
  setup:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: yarn-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: NODE_ENV=dev yarn
      - save_cache:
          key: yarn-{{ checksum "yarn.lock" }}
          paths:
            - "node_modules"
      - persist_to_workspace:
          root: ~/project
          paths:
            - bootstrap-vue

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Lint
          command: yarn lint

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Build
          command: yarn build

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Test
          command: yarn test --maxWorkers=2 --coverage && yarn codecov
    environment:
        - NODE_ENV: "test"

  docs:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Publish Docs
          command: yarn docs-publish

workflows:
  version: 2
  setup-and-parallel-test:
    jobs:
      - setup

      - lint:
          requires:
            - setup

      - build:
          requires:
            - setup

      - test:
          requires:
            - setup

      - docs:
          requires:
            - setup
          filters:
            branches:
              only:
                - master
