/* From Vue.JS Docs */
.hljs {
    overflow-x: auto;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
}

.CodeMirror {
    background-color: #f9f9f9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

code {
    background: transparent !important;
    color: #5cb85c;
}

.bd-masthead {
    color: white;
    background-image: linear-gradient(135deg, #4fc08d, #4fc08d);
}

.bd-masthead .lead {
    color: white;
}

blockquote {
    font-size: 1.25rem;
    font-weight: 300;
}

.bd-content h1, .bd-content h2, .bd-content h3, .bd-content h4, .bd-content h5 {
    padding-top: 25px;
    padding-bottom: 15px;
}