// These variables will be moved to /src/_variables.scsss
$b-sidebar-width: 320px !default;
$b-sidebar-transition-duration: 0.3s !default;
$b-sidebar-header-font-size: 1.5rem !default;
$b-sidebar-header-padding-y: $navbar-padding-y !default;
$b-sidebar-header-padding-x: $navbar-padding-x !default;
// this needs to be overridden for docs
$b-sidebar-zindex: calc(#{$zindex-fixed} + 5) !default;

.b-sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  width: $b-sidebar-width;
  max-width: 100% !important;
  overflow-y: auto;
  outline: 0;
  transform: translateX(0);
  z-index: $b-sidebar-zindex;

  &.slide {
    transition: transform $b-sidebar-transition-duration ease-in-out;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &:not(.b-sidebar-right) {
    left: 0;
    right: auto;
    
    &.slide:not(.show) {
      transform: translateX(-100%);
    }

    > .b-sidebar-header .close {
      margin-left: auto
    }
  }

  &.b-sidebar-right {
    left: auto;
    right: 0;

    &.slide:not(.show) {
      transform: translateX(100%);
    }

    > .b-sidebar-header .close {
      margin-right: auto
    }
  }

  > .b-sidebar-header {
    font-size: $b-sidebar-header-font-size;
    padding: $b-sidebar-header-padding-y $b-sidebar-header-padding-x;
    display: flex;
    flex-direction: row;
    align-items: center;

    @at-root {
      // Keep the buttons on the correct end when in RTL mode
      [dir="rtl"] & {
        flex-direction: row-reverse;
      }
    }

    .close {
      float: none;
      font-size: $b-sidebar-header-font-size;
    }
  }
}
