// These variables will be moved to /src/_variables.scsss
$b-sidebar-padding-x: $navbar-padding-x !default;
$b-sidebar-padding-y: $navbar-padding-y !default;
$b-sidebar-width: 320px !default;
$b-sidebar-transition-duration: 0.3s !default;
// this needs to be overridden for docs
$b-sidebar-zindex: calc(#{$zindex-fixed} + 5) !default;

.b-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $b-sidebar-width;
  max-width: 100%;
  padding: $b-sidebar-padding-y $b-sidebar-padding-x;
  overflow-y: auto;
  color: inherit;
  background-color: inherit;
  outline: 0;
  transform: translateX(0);
  z-index: $b-sidebar-zindex;

  &.slide {
    transition: transform $b-sidebar-transition-duration ease-in-out;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  &:not(.sidebar-right) {
    left: 0;
    right: auto;
    
    &.slide {
      transform: translateX(-100%);
    }
  }

  &.b-sidebar-right {
    left: auto;
    right: 0;

    &.slide {
      transform: translateX(100%);
    }
  }

  &.show {
    transform: translateX(0);
  }
}
