/*!
 * BootstrapVue Custom CSS (https://bootstrap-vue.js.org)
 */

// Include Bootstrap functions, variables, and mixins
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Import BootstrapVue custom SCSS
@import "../src/index.scss";
