// Custom CSS for b-form-datepicker

// TODO:
//   Most of this SCSS is shared with b-form-timepicker,
//   which also shares the same markup structure.
//   So we ould create a new class (or a shared helper component)
//   that can be used by both components

.b-form-datepicker.form-control {
  // Remove background validation images from main wrapper
  background-image: none;

  @at-root {
    // Prevent the button/label from reversing order on in horizontal RTL mode
    [dir="rtl"] &,
    &[dir="rtl"] {
      flex-direction: row-reverse;
    }
  }

  > .btn {
    line-height: 1;
    font-size: inherit;
    box-shadow: none !important;

    &:disabled {
      pointer-events: none;
    }
  }

  &.is-valid > .btn {
    color: $form-feedback-valid-color;
  }

  &.is-invalid > .btn {
    color: $form-feedback-invalid-color;
  }

  > label {
    @if $enable-pointer-cursor-for-buttons {
      cursor: pointer;
    }
  }

  // Disabled and read-only styling
  &[aria-disabled="true"],
  &[aria-readonly="true"] {
    background-color: $input-disabled-bg;
    opacity: 1;
  }

  &[aria-disabled="true"] {
    pointer-events: none;

    > label {
      cursor: default;
    }
  }
}
