.table.b-table {
  // --- General styling ---

  // Table fixed header width layout
  &.b-table-fixed {
    // Fixed width columns
    table-layout: fixed;
  }

  // Table busy styling
  &[aria-busy="true"] {
    opacity: $b-table-busy-opacity;
  }

  // Details row styling
  > tbody > tr.b-table-details > td {
    border-top: none !important;
  }

  // Caption positioning
  > caption {
    caption-side: bottom;
  }

  &.b-table-caption-top {
    > caption {
      caption-side: top !important;
    }
  }
}

// --- Table sticky header styling ---
.b-table-sticky-header {
  overflow-y: auto;
  // Default max-height before scrollbar will show. We don't use
  // `height` as table could be shorter than this value.
  max-height: $b-table-sticky-header-max-height;
  // Move the table bottom margin to the wrapper
  margin-bottom: $spacer;
  
  > .table {
    // Reset margin-bottom to we don't get a
    // space after the table in the scroll area
    margin-bottom: 0;
  }
}

@supports (position: sticky) {
  .b-table-sticky-header {
    > .table {
      > thead > tr {
        > th,
        > td {
          position: sticky;
          top: 0;
          z-index: 2;
        }
      }

      // Default theme color background for table headers.
      // Applied only when no variant is applied to the rows, or no head-variant.
      // Needed because Bootstrap v4 doesn't have table child elements
      // set up to inherit their background from parent element by default

      > thead > tr > th.table-b-table-default,
      > thead > tr > td.table-b-table-default {
        color: $table-color;
        // Default header background. `$table-bg` is null by default in Bootstrap v4 variables
        background-color: if($table-head-bg, $table-head-bg, if($table-bg, $table-bg, $body-bg));
      }

      &.table-dark > thead > tr > th.bg-b-table-default,
      &.table-dark > thead > tr > td.bg-b-table-default {
        color: $table-dark-color;
        // Default header background in table dark mode.
        background-color: $table-dark-bg;
      }
    }
  }
}

// --- Header sort styling ---
.table.b-table {
  > thead,
  > tfoot {
    > tr {
      > th {
        &[aria-sort] {
          // `&.sorting`
          cursor: pointer;

          // Up/down sort=null indicator
          &::before {
            display: inline-block;
            float: right;
            margin-left: $b-table-sort-icon-margin-left;
            width: $b-table-sort-icon-width;
            font-size: inherit;
            line-height: inherit;
            opacity: 0.4;
            content: $b-table-sort-icon-null; // Up/down arrow
            speak: none;
          }

          // Ascending indicator
          &[aria-sort="ascending"]::before {
            // `&.sorting_asc::after.sorting_asc`
            opacity: 1;
            content: $b-table-sort-icon-ascending; // Down arrow
          }

          // Descending indicator
          &[aria-sort="descending"]::before {
            // `&.sorting_desc::after`
            opacity: 1;
            content: $b-table-sort-icon-descending; // Up arrow
          }
        }
      }
    }
  }
}

// --- Selectable rows ---
.table.b-table {
  &.b-table-selectable {
    & > tbody > tr {
      cursor: pointer;
    }

    &.b-table-selecting {
      // Disabled text-selection when in range mode when
      // at least one row selected
      &.b-table-select-range > tbody > tr {
        user-select: none;
      }
    }
  }
}

// --- Stacked tables ---
@if $bv-enable-table-stacked {
  .table.b-table {
    &.b-table-stacked {
      @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
          @include media-breakpoint-down($breakpoint) {
            display: block;
            width: 100%;

            // Convert to blocks when stacked
            > caption,
            > tbody,
            > tbody > tr,
            > tbody > tr > td,
            > tbody > tr > th {
              display: block;
            }

            // Hide when stacked
            > thead,
            > tfoot {
              display: none;

              > tr.b-table-top-row,
              > tr.b-table-bottom-row {
                display: none;
              }
            }

            // Caption positioning
            > caption {
              caption-side: top !important;
            }

            > tbody {
              > tr {
                // Turn cells with labels into micro-grids
                > [data-label] {
                  // Cell header label pseudo element
                  &::before {
                    content: attr(data-label);
                    display: inline-block;
                    width: $b-table-stacked-heading-width;
                    float: left;
                    text-align: right;
                    overflow-wrap: break-word;
                    font-weight: bold;
                    font-style: normal;
                    padding: 0 calc(#{$b-table-stacked-gap} / 2) 0 0;
                    margin: 0;
                  }

                  // Add clearfix in-case field label wraps
                  &::after {
                    display: block;
                    clear: both;
                    content: "";
                  }

                  // Cell value (we wrap the cell value in a div when stacked)
                  > div {
                    display: inline-block;
                    width: calc(100% - #{$b-table-stacked-heading-width});
                    // Add "gap" between "cells"
                    padding: 0 0 0 calc(#{$b-table-stacked-gap} / 2);
                    margin: 0;
                  }
                }

                // Dont show the fixed top/bottom rows
                &.top-row,
                &.bottom-row {
                  display: none;
                }

                // Give the top cell of each "row" a heavy border
                > :first-child {
                  border-top-width: (3 * $table-border-width);
                }

                // Give any cell after a rowspan'ed cell a heavy top border
                > [rowspan] + td,
                > [rowspan] + th {
                  border-top-width: (3 * $table-border-width);
                }
              }
            }
          }
        }
      }
    }
  }
}
