/* b-table: general styling */
.b-table.table.table-fixed {
  /* fixed width columns */
  table-layout: fixed;
}

.b-table.table[aria-busy="true"] {
  opacity: 0.55;
}

.b-table.table > tbody > tr.b-table-details > td {
  border-top: none !important;
}

.b-table.table > caption {
  caption-side: bottom;
}

.b-table.table > caption.b-table-caption-top {
  caption-side: top !important;
}

.b-table.table > thead > tr > th,
.b-table.table > thead > tr > td,
.b-table.table > tfoot > tr > th,
.b-table.table > tfoot > tr > td {
  position: relative;
}

/* b-table: sort styling */
.b-table.table > thead > tr > th[aria-sort],
.b-table.table > tfoot > tr > th[aria-sort] {
  position: relative;
  padding-right: 1.125em;
  cursor: pointer;
}

.b-table.table > thead > tr > th[aria-sort]::after,
.b-table.table > tfoot > tr > th[aria-sort]::after {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0.35em;
  padding-bottom: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 0.4;
  content: "\2195";
  speak: none;
}

.b-table.table > thead > tr > th[aria-sort][aria-sort="ascending"]::after,
.b-table.table > tfoot > tr > th[aria-sort][aria-sort="ascending"]::after {
  opacity: 1;
  content: "\2193";
}

.b-table.table > thead > tr > th[aria-sort][aria-sort="descending"]::after,
.b-table.table > tfoot > tr > th[aria-sort][aria-sort="descending"]::after {
  opacity: 1;
  content: "\2191";
}

/* b-table: stacked tables */
@media (max-width: 575.98px) {
  .b-table.table.b-table-stacked-sm {
    display: block;
    width: 100%;
  }
  .b-table.table.b-table-stacked-sm > caption,
  .b-table.table.b-table-stacked-sm > tbody,
  .b-table.table.b-table-stacked-sm > tbody > tr,
  .b-table.table.b-table-stacked-sm > tbody > tr > td,
  .b-table.table.b-table-stacked-sm > tbody > tr > td {
    display: block;
  }
  .b-table.table.b-table-stacked-sm > thead,
  .b-table.table.b-table-stacked-sm > tfoot {
    display: none;
  }
  .b-table.table.b-table-stacked-sm > thead > tr.b-table-top-row,
  .b-table.table.b-table-stacked-sm > thead > tr.b-table-bottom-row,
  .b-table.table.b-table-stacked-sm > tfoot > tr.b-table-top-row,
  .b-table.table.b-table-stacked-sm > tfoot > tr.b-table-bottom-row {
    display: none;
  }
  .b-table.table.b-table-stacked-sm > caption {
    caption-side: top !important;
  }
  .b-table.table.b-table-stacked-sm > tbody > tr > [data-label] {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 0.25rem 1rem;
  }
  .b-table.table.b-table-stacked-sm > tbody > tr > [data-label]::before {
    content: attr(data-label);
    display: inline;
    text-align: right;
    overflow-wrap: break-word;
    font-weight: bold;
    font-style: normal;
  }
  .b-table.table.b-table-stacked-sm > tbody > tr.top-row, .b-table.table.b-table-stacked-sm > tbody > tr.bottom-row {
    display: none;
  }
  .b-table.table.b-table-stacked-sm > tbody > tr > :first-child {
    border-top-width: 3px;
  }
}

@media (max-width: 767.98px) {
  .b-table.table.b-table-stacked-md {
    display: block;
    width: 100%;
  }
  .b-table.table.b-table-stacked-md > caption,
  .b-table.table.b-table-stacked-md > tbody,
  .b-table.table.b-table-stacked-md > tbody > tr,
  .b-table.table.b-table-stacked-md > tbody > tr > td,
  .b-table.table.b-table-stacked-md > tbody > tr > td {
    display: block;
  }
  .b-table.table.b-table-stacked-md > thead,
  .b-table.table.b-table-stacked-md > tfoot {
    display: none;
  }
  .b-table.table.b-table-stacked-md > thead > tr.b-table-top-row,
  .b-table.table.b-table-stacked-md > thead > tr.b-table-bottom-row,
  .b-table.table.b-table-stacked-md > tfoot > tr.b-table-top-row,
  .b-table.table.b-table-stacked-md > tfoot > tr.b-table-bottom-row {
    display: none;
  }
  .b-table.table.b-table-stacked-md > caption {
    caption-side: top !important;
  }
  .b-table.table.b-table-stacked-md > tbody > tr > [data-label] {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 0.25rem 1rem;
  }
  .b-table.table.b-table-stacked-md > tbody > tr > [data-label]::before {
    content: attr(data-label);
    display: inline;
    text-align: right;
    overflow-wrap: break-word;
    font-weight: bold;
    font-style: normal;
  }
  .b-table.table.b-table-stacked-md > tbody > tr.top-row, .b-table.table.b-table-stacked-md > tbody > tr.bottom-row {
    display: none;
  }
  .b-table.table.b-table-stacked-md > tbody > tr > :first-child {
    border-top-width: 3px;
  }
}

@media (max-width: 991.98px) {
  .b-table.table.b-table-stacked-lg {
    display: block;
    width: 100%;
  }
  .b-table.table.b-table-stacked-lg > caption,
  .b-table.table.b-table-stacked-lg > tbody,
  .b-table.table.b-table-stacked-lg > tbody > tr,
  .b-table.table.b-table-stacked-lg > tbody > tr > td,
  .b-table.table.b-table-stacked-lg > tbody > tr > td {
    display: block;
  }
  .b-table.table.b-table-stacked-lg > thead,
  .b-table.table.b-table-stacked-lg > tfoot {
    display: none;
  }
  .b-table.table.b-table-stacked-lg > thead > tr.b-table-top-row,
  .b-table.table.b-table-stacked-lg > thead > tr.b-table-bottom-row,
  .b-table.table.b-table-stacked-lg > tfoot > tr.b-table-top-row,
  .b-table.table.b-table-stacked-lg > tfoot > tr.b-table-bottom-row {
    display: none;
  }
  .b-table.table.b-table-stacked-lg > caption {
    caption-side: top !important;
  }
  .b-table.table.b-table-stacked-lg > tbody > tr > [data-label] {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 0.25rem 1rem;
  }
  .b-table.table.b-table-stacked-lg > tbody > tr > [data-label]::before {
    content: attr(data-label);
    display: inline;
    text-align: right;
    overflow-wrap: break-word;
    font-weight: bold;
    font-style: normal;
  }
  .b-table.table.b-table-stacked-lg > tbody > tr.top-row, .b-table.table.b-table-stacked-lg > tbody > tr.bottom-row {
    display: none;
  }
  .b-table.table.b-table-stacked-lg > tbody > tr > :first-child {
    border-top-width: 3px;
  }
}

@media (max-width: 1199.98px) {
  .b-table.table.b-table-stacked-xl {
    display: block;
    width: 100%;
  }
  .b-table.table.b-table-stacked-xl > caption,
  .b-table.table.b-table-stacked-xl > tbody,
  .b-table.table.b-table-stacked-xl > tbody > tr,
  .b-table.table.b-table-stacked-xl > tbody > tr > td,
  .b-table.table.b-table-stacked-xl > tbody > tr > td {
    display: block;
  }
  .b-table.table.b-table-stacked-xl > thead,
  .b-table.table.b-table-stacked-xl > tfoot {
    display: none;
  }
  .b-table.table.b-table-stacked-xl > thead > tr.b-table-top-row,
  .b-table.table.b-table-stacked-xl > thead > tr.b-table-bottom-row,
  .b-table.table.b-table-stacked-xl > tfoot > tr.b-table-top-row,
  .b-table.table.b-table-stacked-xl > tfoot > tr.b-table-bottom-row {
    display: none;
  }
  .b-table.table.b-table-stacked-xl > caption {
    caption-side: top !important;
  }
  .b-table.table.b-table-stacked-xl > tbody > tr > [data-label] {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 0.25rem 1rem;
  }
  .b-table.table.b-table-stacked-xl > tbody > tr > [data-label]::before {
    content: attr(data-label);
    display: inline;
    text-align: right;
    overflow-wrap: break-word;
    font-weight: bold;
    font-style: normal;
  }
  .b-table.table.b-table-stacked-xl > tbody > tr.top-row, .b-table.table.b-table-stacked-xl > tbody > tr.bottom-row {
    display: none;
  }
  .b-table.table.b-table-stacked-xl > tbody > tr > :first-child {
    border-top-width: 3px;
  }
}

.b-table.table.b-table-stacked {
  display: block;
  width: 100%;
}

.b-table.table.b-table-stacked > caption,
.b-table.table.b-table-stacked > tbody,
.b-table.table.b-table-stacked > tbody > tr,
.b-table.table.b-table-stacked > tbody > tr > td,
.b-table.table.b-table-stacked > tbody > tr > td {
  display: block;
}

.b-table.table.b-table-stacked > thead,
.b-table.table.b-table-stacked > tfoot {
  display: none;
}

.b-table.table.b-table-stacked > thead > tr.b-table-top-row,
.b-table.table.b-table-stacked > thead > tr.b-table-bottom-row,
.b-table.table.b-table-stacked > tfoot > tr.b-table-top-row,
.b-table.table.b-table-stacked > tfoot > tr.b-table-bottom-row {
  display: none;
}

.b-table.table.b-table-stacked > caption {
  caption-side: top !important;
}

.b-table.table.b-table-stacked > tbody > tr > [data-label] {
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 0.25rem 1rem;
}

.b-table.table.b-table-stacked > tbody > tr > [data-label]::before {
  content: attr(data-label);
  display: inline;
  text-align: right;
  overflow-wrap: break-word;
  font-weight: bold;
  font-style: normal;
}

.b-table.table.b-table-stacked > tbody > tr.top-row, .b-table.table.b-table-stacked > tbody > tr.bottom-row {
  display: none;
}

.b-table.table.b-table-stacked > tbody > tr > :first-child {
  border-top-width: 3px;
}
