/*
 * CSS Overrides and fixes for input type range .custom-range
 * .custom-range was introduced in V4.1
 * needs V4.1.3 minimum
 *
 * V4.2 will have fixes for disabled states (included here)
 *
 * Fixes missing styling when placed inside an input-group
 * Fixes missing validation styling
 */

/* fixes padding and height issue in V4.1 css until V4.2 shipped */
/* https://github.com/twbs/bootstrap/pull/26898 */
.custom-range {
  height: calc(1rem + .2rem * 2);
  padding: 0;
}

/* Temporary fix for validation until Bootstrap includes validation styles for range */
/* No PR for this yet at bootstrap */
/*
.custom-range {
  border: 1px solid transparent;
  border-radius: .25rem;
}
*/

/* Temp fix until V4.2. Note these selectors _cannont_ be merged togheter */
/* https://github.com/twbs/bootstrap/pull/26540 */
.custom-range:disabled::-webkit-slider-thumb {
  background-color: #adb5bd;
}
.custom-range:disabled::-webkit-slider-runnable-track {
  cursor: default;
}
.custom-range:disabled::-moz-range-thumb {
  background-color: #adb5bd;
}
.custom-range:disabled::-moz-range-track {
  cursor: default;
}
.custom-range:disabled::-ms-thumb {
  background-color: #adb5bd;
}

/* Temporary fixes until Bootstrap includes styles for range in .input-group */
/* No PR for this yet at bootstrap */
.input-group > .custom-range {
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0 .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group > .custom-range {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group-sm > .custom-range {
  height: calc(1.8125rem + 2px);
  padding: 0 .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.input-group-lg > .custom-range {
  height: calc(2.875rem + 2px);
  padding-left: 0 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.input-group > .custom-range:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-range:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .custom-range:focus {
  z-index: 3;
}

/* Add some custom style for focusing custom-range when inside an .input-group */
/* Normally only the range thumb has focus styling */
/* No PR for this at bootstrap yet */
.input-group .custom-range:focus {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

/* Temporary validation fixes until Bootstrap includes validation styles for range */
/* No PR for this yet at bootstrap */
.custom-range.is-invalid,
.was-validated .custom-range:invalid {
  border-color: #dc3545;
}
.custom-range.is-invalid::-webkit-slider-runnable-track {
    background-color: #f5c6cb;
}
.custom-range.is-invalid::-moz-range-track {
    background-color: #f5c6cb;
}
.custom-range.is-invalid::-ms-fill-lower {
    background-color: #f5c6cb;
}
.custom-range.is-invalid::-ms-fill-upper {
    background-color: #f5c6cb;
}
.custom-range.is-invalid:focus,
.was-validated .custom-range:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}
.custom-range.is-valid,
.was-validated .custom-range:valid {
  border-color: #28a745;
}
.custom-range.is-valid::-webkit-slider-runnable-track {
    background-color: #c3e6cb;
}
.custom-range.is-valid::-moz-range-track {
    background-color: #c3e6cb;
}
.custom-range.is-valid::-ms-fill-lower {
    background-color: #c3e6cb;
}
.custom-range.is-valid::-ms-fill-upper {
    background-color: #c3e6cb;
}
.custom-range.is-valid:focus,
.was-validated .custom-range:valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 .2rem rgba(40,167,69,.25);
}
