// --- BootstrapVue utility / helper classes ---

$bv-utility-classes-defined: false !default;

// Make sure to include these style definitions only once
@if $bv-utility-classes-defined == false {
  $bv-utility-classes-defined: true;

  // No focus outline helper (use sparingly)
  .bv-no-focus-ring:focus {
    outline: none;
  }

  // Create `.bv-d-<bp>-down-none` helper classes
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
      .bv-d-#{$breakpoint}-down-none {
        display: none !important;
      }
    }
  }

  // Bootstrap does not generate a `.btn-md` class because these styles
  // are already contained in the default `.btn` class. But a separate class
  // with them is needed in the `form-radio-check.js` mixin.
  .btn-size-default {
    @include button-size(
      $btn-padding-y,
      $btn-padding-x,
      $btn-font-size,
      $btn-line-height,
      $btn-border-radius
    );
  }
}
